.Page{
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.show{
    cursor: pointer;
    height: 350px;
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 5px;

    transition: transform 0.3s ease;
    &:hover {
      transform: scale(1.09);
    }
}


.show_poster{
    height: 80%;
    border-radius: 17px;
}
.show_poster img {
    border-radius: 17px;
}

.show_details{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: 10px;
    font-size: 14px;
    height: auto;
    width: 190px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-radius: 17px;
    background-color: hsl(288deg 92.69% 5.23% / 96%);
    color: #ffff;
    border: 0.1px solid #9c27b0;
    
}
.title{
    display: flex;
    align-items: center;
    height: 25px;
    width: 85%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.time{
    display: flex;
    font-size: small;
    width: 85%;
    height: 25px;
    align-items: center;
    justify-content: space-between
}

.custom-link{
    text-decoration: none;
}