.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: hsl(288deg 92.69% 5.23% / 96%);
    font-size: large;
    gap: 25px;
    position: relative;
  }

  .header_left{
    flex: 1;
  }

  .header_middle{
    flex: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70%;
    border-radius: 17px;
    background-color: #ffff;
  }
  .search{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 35%;
    width: 8%;
    height: 100%;
    cursor: pointer;
  }
  .header_middle input{
    width: 90%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: medium;
    color: purple;
  }

  .header_right{
    flex: 4;
    display: flex;
    flex-direction: row-reverse;
    padding-right: 2%;
    gap: 5%;
  }

  .header_right a{
    text-decoration: none;
    color: inherit;
  }
  .header_right a:hover{
    color: rgb(149, 149, 237);
  }
  .header_right a:active {
    font-weight: bold; 
    color: rgb(149, 149, 237);
  }

  .search_drop{
    position: absolute;
    top: 100%;
    left: 14.3%;
    right: 0;
    z-index: 2;
    background-color: hsl(288deg 54.87% 26.44% / 95%);
    border: 1px solid #cccccc54;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-height: 350px; 
    height: 320px;
    width: 43%;
    overflow-y: auto;
    margin-top: 0px;
    border-radius: 17px;
    color: #ffffff;
  }
  
  .search_drop::-webkit-scrollbar{
    scroll-behavior: smooth;
  }
  .search_drop div {
    display: flex;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    text-decoration: none;
  }
  .search_drop img {
    width: 40px;
    height: 60px;
    margin-right: 10px;
  }
  
  .drops{
    display: flex;
  }
  .drops .poster{
    flex: 1;
  }
  .drops .title{
    flex: 5;
  }
  .search_drop span {
    display: flex;
    height: 2.5rem;
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }