.App {
  text-align: center;
  background-color: #000000;
  max-height: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
  gap: 30px;
}

header{
  display: flex;
  align-items: center;
  width: 100%;
  height: 4rem;
  position: fixed;
  z-index: 1000;
}

main{
  display: flex;
  align-items: center;
  margin-top: 5rem;
  width: 100%;
  height: auto;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
